*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--h-size: 60ch;
	--spacing: 0.5rem;
}

body {
	position: relative;
	max-width: calc(var(--h-size) + 2 * var(--spacing));
	margin: 1rem auto;
	padding-inline: var(--spacing);
	font-family: system-ui, sans-serif;
	line-height: 1.5;
}

form {
	display: flex;
	flex-direction: column;
	gap: var(--spacing);
}

input,
textarea,
select,
button {
	font-family: inherit;
	font-size: inherit;
}

label,
label b {
	display: block;
}

input,
textarea {
	width: 100%;
}

textarea:not([rows]) {
	min-height: 10em;
}

footer {
	width: fit-content;
	margin: 1rem auto 0; /* XXX: magic value */

	img {
		max-height: 3rem; /* XXX: magic value */
	}
}

noti-fier {
	position: absolute;
	top: 0;
	right: var(--spacing);
	border: 3px solid #B0DCDF; /* XXX: magic values */
	border-inline-width: 0;
	padding: var(--spacing);
	background-color: #F0FCFF; /* XXX: magic value */

	&:empty {
		display: none;
	}
}

.showcase {
	display: grid;
	grid-template-columns: 1fr 1fr;

	iframe {
		max-width: 100%;
		height: 10rem; /* XXX: magic value */
	}

	> :first-child {
		grid-column: 1 / -1;
		width: 100%;
		height: 5rem; /* XXX: magic value */
	}
}
